 input[type=text] {
     width: 130px;
     box-sizing: border-box;
     border: 2px solid rgb(192, 172, 160);
     border-radius: 10px;
     font-size: 16px;
     background-color: white;
     background-image: url('searchicon.png');
     background-position: 10px 10px;
     background-repeat: no-repeat;
     padding: 12px 20px 12px 40px;
     -webkit-transition: width 0.4s ease-in-out;
     transition: width 0.4s ease-in-out;
 }
 
 input[type=text]:focus {
     width: 35%;
 }
 
 .searchbar {
     align-items: center;
     justify-content: center;
     align-content: center;
     text-align: center;
 }
 .button-search-class{
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 10px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button-search-class span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button-search-class:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button-search-class:hover span {
    padding-right: 25px;
  }
  
  .button-search-class:hover span:after {
    opacity: 1;
    right: 0;
  }
  

.about-us-image {
     height: 340px;
     width: 640px;
 }
 
 .logo-image-vmr {
     height: 60px;
     width: 60px;
 }

